body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
section{
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

/* -----navbar----- */
.logo{
    height: 50px;
}

.navbar-nav .btn{
    border-radius: 0;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    padding-top: 3px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
.navbar-nav .login-btn:hover{
    background-color: white;
}
.navbar-nav .login-btn{
    padding-left: 9px;
    padding-right: 19px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
    margin-top: 3px;
    background-color: transparent;
    color: #fd6eff;
    border: 3px solid #fd6eff;
    border-radius: 5px;
}
.navbar-nav .signup-btn{
    background-color: #fd6eff;
    color:white;
    border: 0px;
    margin-top: 3px;
    padding-bottom: 5px;
    padding-top: 2px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 5px;
}
.navbar-nav .signup-btn:hover{
    background-color: white;
    color: #fd6eff;
}
.nav-link{
    font-weight: bold;
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid #fd6eff;
    transition: 0.1s;
}
/* -----end navbar----- */

/* -----banner----- */
.banner-img{
    flex-basis: 55%;
}
#banner-picture{
    height: 100%;
    display: block;
    margin: auto;
}
.banner-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI';
    border: 0px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}
.banner-btn:hover{
    background-color: white;
    color: blue;

}
span{
    font-weight: bold;
}

/* -----end banner----- */

/* -----home----- */
#home{
    background-color: #ffd500;
    height: 95vh;
}
.single-square{
    top: -2%;
}
.right-square{
    position: fixed;
}

/* ----end home---- */

/* -----work title----- */
#work{
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    /* background-color: white; */
    background-color: #05192d;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-title{
    color: white;
    font-weight: bold;
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #05192d, rgb(51, 51, 78));
}

/* -----end work title----- */

/* -----work icon----- */
.icon{
    /* vertical-align: middle; */
    display: inline-block;
    justify-content: left;
    list-style: none;
}
.text{
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.icon1{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fd6eff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.icon1:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.text1{
    color: #fd6eff;
    padding-left: 30px;
    padding-top: 10px;
}
.text1:hover{
    cursor: pointer;
}

.icon2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #940094;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.icon2:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.text2{
    color: #940094;
    padding-left: 30px;
    padding-top: 10px;
}
.text2:hover{
    cursor: pointer;
}

.icon3{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.icon3:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.text3{
    color: #ffff00;
    padding-left: 30px;
    padding-top: 10px;
}
.text3:hover{
    cursor: pointer;
}

.icon4{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #adff2f;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.icon4:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.text4{
    color: #adff2f;
    padding-left: 30px;
    padding-top: 10px;
}
.text4:hover{
    cursor: pointer;
}

/* .text1{
    color: #ffb0bd;
    font-size: 17px;
}


 .text3{
     color: #ffff00;
     font-size: 17px;
 }
 .text4{
    color: #adff2f;
    font-size: 17px;
} */
.work-desc{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p{
    color: white;
    font-size: 15px;
    padding-left: 30px;
}
/* -----end work section----- */